<h2>Reservation List</h2>
<ul *ngIf="reservations.length; else noReservation">
  <li *ngFor="let reservation of reservations; index as i">
    Guest: {{ reservation.guestName }} Email: {{ reservation.guestEmail }} Room:
    {{ reservation.roomNumber }} Check-In:
    {{ reservation.checkInDate }} Check-Out: {{ reservation.checkOutDate }}
    <button (click)="deleteReservation(reservation.id)">Delete</button>
    <button [routerLink]="['/edit', reservation.id]">Edit</button>
  </li>
</ul>

<ng-template #noReservation>
  <p>No Reservation available.</p>
</ng-template>
