<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="checkInDate">Check In Date:</label>
    <input id="checkInDate" type="date" formControlName="checkInDate" />
    <div
      *ngIf="
        reservationForm.get('checkInDate')?.invalid &&
        reservationForm.get('checkInDate')?.touched
      "
    >
      Check-In Date is required.
    </div>
  </div>

  <div>
    <label for="checkOutDate">Check Out Date:</label>
    <input id="checkOutDate" type="date" formControlName="checkOutDate" />
    <div
      *ngIf="
        reservationForm.get('checkOutDate')?.invalid &&
        reservationForm.get('checkOutDate')?.touched
      "
    >
      Check-Out Date is required.
    </div>
  </div>

  <div>
    <label for="guestName">Guest Name:</label>
    <input id="guestName" type="text" formControlName="guestName" />
    <div
      *ngIf="
        reservationForm.get('guestName')?.invalid &&
        reservationForm.get('guestName')?.touched
      "
    >
      Guest Name is required.
    </div>
  </div>

  <div>
    <label for="guestEmail">Guest Email:</label>
    <input id="guestEmail" type="email" formControlName="guestEmail" />
    <div
      *ngIf="
        reservationForm.get('guestEmail')?.invalid &&
        reservationForm.get('guestEmail')?.touched
      "
    >
      Guest Email is required.
    </div>
  </div>

  <div>
    <label for="roomNumber">Room Number:</label>
    <input id="roomNumber" type="number" formControlName="roomNumber" />
    <div
      *ngIf="
        reservationForm.get('roomNumber')?.invalid &&
        reservationForm.get('roomNumber')?.touched
      "
    >
      Room Number is required.
    </div>
  </div>

  <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
